body
{
    background-color: antiquewhite;
    
}

button
{
    border: 5px solid rgb(51, 127, 153);
    font-size: medium;
    background-color: rgb(96, 214, 244);
    align-items: center;
}

h1 {
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
}